# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Virtual Environment
.venv/
env/
venv/

# IDE/Editor
.idea/
*.iml
.vscode/

# Database
*.db
*.sqlite3

# Logs and Runtime
*.log
*.pid
*.seed
*.cover
*.coverage
*.coveragerc
*.tar
*.gz
*.zip

# Alembic
alembic/versions/

# Pytest
.pytest_cache/
.tox/

# Poetry
poetry.lock
.mypy_cache/

# PyCharm project files
*.idea/

# OS
.DS_Store
Thumbs.db
